<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<input type="text" id="titleSearch" name="searchText" placeholder="search">
<button onclick="searchName()">Search</button>
<!--hiển thị list ban đầu-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $.ajax({-->
<!--            headers: {-->
<!--                'accept': 'application/json',-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            url: 'http://localhost:8080/api/blog/',-->
<!--            type: 'GET',-->
<!--            success: function (data) {-->
<!--                let table = document.getElementById("table-blog")-->
<!--                for (let i = 0; i < data.length; i++) {-->
<!--                    let row = table.insertRow(i + 1);-->
<!--                    let id = row.insertCell(0)-->
<!--                    let title = row.insertCell(1);-->
<!--                    let content = row.insertCell(2);-->
<!--                    let author = row.insertCell(3);-->
<!--                    let category = row.insertCell(4);-->
<!--                    let createTime = row.insertCell(5);-->
<!--                    let updateTime = row.insertCell(6);-->
<!--                    id.innerHTML = data[i].id;-->
<!--                    title.innerHTML = data[i].title;-->
<!--                    content.innerHTML = data[i].content;-->
<!--                    author.innerHTML = data[i].author;-->
<!--                    category.innerHTML = data[i].category.categoryName;-->
<!--                    createTime.innerHTML = data[i].createTime;-->
<!--                    updateTime.innerHTML = data[i].updateTime;-->
<!--                }-->
<!--            },-->
<!--            error: function (data) {-->

<!--            }-->
<!--        })-->

<!--    })-->
<!--</script>-->
<script>
    function searchName() {
        let title = document.getElementById('titleSearch').value;
        $.ajax({
            headers: {
                'accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: 'http://localhost:8080/api/blog/search?title=' + encodeURIComponent(title),
            type: 'GET',
            success: function (data) {
                let table = document.getElementById("table-blog")
                while (table.rows.length > 1) {
                    table.deleteRow(1);
                }
                for (let i = 0; i < data.length; i++) {
                    let row = table.insertRow(i + 1);
                    let id = row.insertCell(0)
                    let title = row.insertCell(1);
                    let content = row.insertCell(2);
                    let author = row.insertCell(3);
                    let category = row.insertCell(4);
                    let createTime = row.insertCell(5);
                    let updateTime = row.insertCell(6);
                    id.innerHTML = data[i].id;
                    title.innerHTML = data[i].title;
                    content.innerHTML = data[i].content;
                    author.innerHTML = data[i].author;
                    category.innerHTML = data[i].category.categoryName;
                    createTime.innerHTML = data[i].createTime;
                    updateTime.innerHTML = data[i].updateTime;
                }
            },
            error: function (data) {

            }
        })
    }

</script>
<script>
    function loadMore() {
        let table = document.getElementById("table-blog");
        let number;
        number = (table.rows.length - 1) / 5
        number++;
        console.log(number)
        $.ajax({
            headers: {
                'accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: 'http://localhost:8080/api/blog/loadMore?number=' + encodeURIComponent(number),
            type: 'GET',
            success: function (data) {
                let table = document.getElementById("table-blog")
                let numb = table.rows.length;
                for (let i = 0; i < data.length; i++) {
                    let row = table.insertRow(numb);
                    let id = row.insertCell(0)
                    let title = row.insertCell(1);
                    let content = row.insertCell(2);
                    let author = row.insertCell(3);
                    let category = row.insertCell(4);
                    let createTime = row.insertCell(5);
                    let updateTime = row.insertCell(6);
                    id.innerHTML = data[i].id;
                    title.innerHTML = data[i].title;
                    content.innerHTML = data[i].content;
                    author.innerHTML = data[i].author;
                    category.innerHTML = data[i].category.categoryName;
                    createTime.innerHTML = data[i].createTime;
                    updateTime.innerHTML = data[i].updateTime;
                    numb++;
                }
            },
            error: function (data) {

            }
        })
    }

</script>

<body>


<div>
    <h1 style="color: hotpink ; text-align: center">BLog Daily</h1>
</div>
<div>
    <div th:if="${mess}">
        <span hidden id="inputId" th:text="${mess}"></span>
    </div>

    <table class="table table-striped" id="table-blog">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th>Create Time</th>
            <th>Update time</th>
            <th>Category</th>
            <th></th>
            <th>Function</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>
</body>
<button onclick="loadMore()">Load more</button>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>