<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h2 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .form-input {
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: center;
            margin-top: 1.1vw;


        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;

        }
    </style>
</head>
<body>


<div class="content">
    <h2>Edit Customer</h2>
    <form th:action="@{/blog/update}" method="post" th:object="${blog}">
        <input type="text" th:field="*{id}" hidden>

        <div class="form-input">
            <label>Title</label>
            <input type="text" th:field="*{title}" class="form-control"/>
        </div>


        <div class="form-input">
            <label>Content</label>
            <input type="text" th:field="*{content}" class="form-control"/>
        </div>

        <div class="form-input">
            <label>Author</label>
            <input type="text" th:field="*{author}" class="form-control"/>
        </div>
        <div>
            <select style="margin-top: 20px;width: 35vw; height: 6vh;" th:field="*{category}">
                <option th:each="category : ${categoryList}"
                        th:text="${category.nameCategory}" th:value="${category.id}">

                </option>
            </select>
        </div>
        <div>
            <button style=" width: 100% ; margin-top: 15px ;background-color:palevioletred ; color: black ;"
                    class="btn btn-outline-primary" type="submit">Edit
            </button>
        </div>

    </form>
    <div>
        <a th:href="@{/blog}">
            <button style="     background-color: black ; margin-top: 15px; color: white; width: 71vh;
                        " class="btn btn-success" type="button">Back
            </button>
        </a>
    </div>

</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>








