<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h1 align="center">Detail</h1>
<table class="table" style="width: 40vw" align="center">
    <tr>
        <td><h3>ID :</h3></td>
        <td><p th:text="${blog.id}"></p></td>
    </tr>
    <tr>
        <td><h3>Author :</h3></td>
        <td><p th:text="${blog.author}"></p></td>
    </tr>
    <tr>
        <td><h3>Content :</h3></td>
        <td><p th:text="${blog.content}"></p></td>
    </tr>
    <tr>
        <td><h3>Title :</h3></td>
        <td><p th:text="${blog.title}"></p></td>
    </tr>
    <tr>
        <td><h3>Create Time :</h3></td>
        <td><p th:text="${blog.createTime}"></p></td>
    </tr>
    <tr>
        <td><h3>Update Time :</h3></td>
        <td><p th:text="${blog.updateTime}"></p></td>
    </tr>
</table>
<a th:href="@{/blog}">
    <button type="button" style="margin-left: 48vw;background-color: palevioletred ; color: black" class="btn btn-success">Back
    </button>
</a>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>