<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/student/update}" method="post" th:object="${student}">
  <input type="text" th:field="*{id}" hidden>
  <input type="text" th:field="*{clazz.id}" hidden>
  <label>Name</label>
  <input type="text" th:field="*{name}">
  <label>Point</label>
  <input type="number" th:field="*{point}">
  <label>Gender</label>
  <input type="text" th:field="*{gender}">
  <label>Clazz</label>
  <select th:field="*{clazz}">
    <option th:each="clazzz : ${clazzList}" th:text="${clazzz.nameClazz}" th:value="${clazzz.id}"></option>
  </select>
  <button>Edit</button>
</form>

<!--<form th:action="@{/student/update}"  method="post" th:object="${student}"  >-->
<!--  <label>Name</label>-->
<!--  <input type="text" hidden th:field="*{id}">-->
<!--  <input type="text" th:field="*{name}"/>-->
<!--  <label>Point</label>-->
<!--  <input type="number" th:field="*{point}"/>-->
<!--  <label>Clazz</label>-->
<!--  <select th:field="*{clazz}">-->
<!--    <option th:each="clazz : ${clazzList}"  th:text="${clazz.nameClazz}" th:value="${clazz.id}"/>-->

<!--    </option>-->
<!--  </select>-->
<!--  <label>Gender</label>-->
<!--  <input type="text" th:field="*{gender}"/>-->
<!--  <button>submit</button>-->
<!--</form>-->


</body>
</html>