<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/styles/login.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h3>Hello Thắng</h3>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a target="_blank" href="https://www.facebook.com/login" class="social"><i class="fab fa-facebook-f"></i></a>
        <a target="_blank" href="https://accounts.google.com/signup/v2/webcreateaccount?biz=false&cc=VN&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&dsh=S-620441123%3A1683428936102701&emr=1&flowEntry=SignUp&flowName=GlifWebSignIn&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=Af_xneE_-dLfH81LfMKfnIa_V9d_TxZOuq6XveBpXlqIDPclYlM-UwHkbL942z_h9YBNq2VG6ng5gg&osid=1&service=mail" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a target="_blank" href="https://www.instagram.com/" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" />
      <input  type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form th:action="@{/customer/customerLogin}" th:object="${customer}" method="post">
      <h1>Sign in</h1>
      <div class="social-container">
        <a target="_blank" href="https://www.facebook.com/login" class="social"><i class="fab fa-facebook-f"></i></a>
        <a  target="_blank" href="https://accounts.google.com/v3/signin/identifier?dsh=S-620441123%3A1683428936102701&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=Af_xneEc8PQTSbaMIf2sScal0D9KR61xHn7dFKPh78o9ufeN1ap7uS5Marsw4K2cT_ViE-y6Zzwm&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a target="_blank" href="https://www.instagram.com/" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>

      <input  th:field="*{userName}" type="text" name="userName" placeholder="User" />
      <input th:field="*{password}" type="text" name="password" placeholder="Password" />


      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<div th:if="${mess}">
  <span style="color:red" th:text="${mess}"></span>
</div>

</body>
<script>
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');

  signUpButton.addEventListener('click', () => {
    container.classList.add('right-panel-active');
  });

  signInButton.addEventListener('click', () => {
    container.classList.remove('right-panel-active');
  });
</script>
</html>